html {
  font-size: 16px;
  background-color: #eeeeee;
}

p, a, ul, li, figcaption {
  font-family: "Source Sans Pro", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Oxygen", sans-serif;
}

/* typography, courtesy of http://typecast.com/ */

body {
  font-size: 100%;
}

body, caption, th, td, input, textarea, select, option, legend, fieldset, h1, h2, h3, h4, h5, h6 {
  font-size-adjust: 0.5;
}

#page {
  font-size: 1em;
  line-height: 1.25;
}

@media (min-width: 43.75em) {
  #page {
    font-size: 1em;
    line-height: 1.375;
  }
}

p {
  font-size: 1.3rem;
  line-height: 1.3;
}

h1 {
  font-size: 2.15rem;
  line-height: 1.25;
}

@media (min-width: 50rem) {
  h1 {
    font-size: 2.4rem;
    line-height: 1.125;
  }
}

@media (min-width: 56.25em) {
  h1 {
    font-size: 2.8em;
    line-height: 1.05;
  }
}

h2 {
  font-size: 1.625em;
  line-height: 1.15384615;
}

@media (min-width: 43.75em) {
  h2 {
    font-size: 2em;
    line-height: 1.25;
  }
}

@media (min-width: 56.875em) {
  h2 {
    font-size: 2.25em;
    line-height: 1.25;
  }
}

h3 {
  font-size: 1.5em;
  line-height: 1.13636364;
}

@media (min-width: 43.75em) {
  h3 {
    font-size: 1.5em;
    line-height: 1.25;
  }
}

@media (min-width: 56.875em) {
  h3 {
    font-size: 1.5em;
    line-height: 1.25;
  }
}

h4 {
  font-size: 1.125em;
  line-height: 2.125;
}

@media (min-width: 43.75em) {
  h4 {
    line-height: 2.125;
  }
}

/* scrollbar styles */

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: none;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #c0c0c0;
  border-radius: 50px;
}

/* sitewide display and container styles */

.offset {
  width: 100%;
  position: relative;
  top: 100px;
}

.container {
  width: 99.9%;
  padding: 1.1% 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex: 1;
}

.container.projects {
  padding-bottom: 4rem;
}

.home-container {
  max-width: 50rem;
  padding: 2.5rem 2rem 4rem 2rem;
  margin: 0 auto;
}

.home-container p, .home-container h2 {
  text-align: center;
  padding: 1rem 0;
}

.content-container {
  width: 50rem;
  padding: 0 1.5rem 2rem 1.5rem;
  margin: 0 auto;
}

.set-max {
  max-width: 1400px;
  margin: 0 auto;
}

.center {
  text-align: center;
}

.hide {
  display: none;
}

@media only screen and (max-width: 56.875rem) {
  .content-container {
    width: 80%;
  }
}

@media only screen and (max-width: 43.75rem) {
  .content-container {
    width: 80%;
    padding: 0 2rem 2.5rem 2rem;
  }
}

@media only screen and (max-width: 33.125rem) {
  .content-container {
    width: 80%;
    padding: 0 1rem 2.5rem 1.5rem;
    margin: 0 auto;
  }
  .home-container {
    padding: 2rem 2rem 3.5rem 2rem;
  }
}

/* header styles */

header {
  height: 100px;
  background-image: url('../../resources/images/home/header-texture-01.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 1;

}

.nav-container {
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-link {
  display: flex;
  align-items: center;
}

.logo p {
  font-size: 1rem;
  font-family: "Oxygen", sans-serif;
}

.logo img {
  padding-right: 0.75rem;
  position: relative;
  bottom: 10.5px;
}

/* navigation styles */

nav img {
  width: 66px;
  height: 58px;
}

nav a {
  color: white;
  transition: 0.4s;
}

nav ul {
  display: flex;
  position: relative;
  top: 17px;
}

nav ul li {
  padding-left: 2.25rem;
  text-transform: uppercase;
  font-family: "Oxygen", sans-serif;
}

nav ul li a {
  font-family: "Oxygen", sans-serif;
}

nav ul li a:hover {
  position: relative;
  color: #269af9;
  transition: 0.4s;
}

nav ul li a:active {
  top: 1px;
}

.mobile-nav {
  display: none;
}

@media only screen and (max-width: 50rem) {
  .desktop-nav {
    display: none;
  }
  .nav-container {
    display: none;
  }
  .mobile-nav {
    padding: 1.5rem 1.5rem 0.75rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
  }
  .mobile-nav #menu-icon {
    width: 45px;
    cursor: pointer;
    position: relative;
    bottom: 6px;
    right: 4px;
  }
  header p {
    display: none;
  }
  .dropdown-nav {
    position: relative;
    top: 4px;
    background-color: #269af9;
    width: 100%;
    z-index: 1;
    text-align: center;
    color: white;

  }
  .dropdown-nav ul li {
    padding: 1.25rem 0;
    /*border-bottom: 1px solid #4a5266;*/
  }
  .dropdown-nav ul li a {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
  }
  .headline h4 {
    padding: 0.5rem 2rem 0 2rem;
    line-height: 1.3;
  }
}

/* headline styles */

.headline {
  padding: 4.5rem 1rem 2rem 1rem;
  margin: 0 auto;
  text-align: center;
  color: black;
}

.headline.project {
  padding-top: 6.5rem;
}

.headline.company h4 {
  line-height: 1.3;
  margin: 0 auto;
  max-width: 900px;
  padding: 1rem 0 0 0;
}

@media only screen and (max-width: 33.125rem) {

  .headline {
    padding: 4.5rem 1rem 3rem 1rem;
  }
}

/* home page portfolio item grid */

.portfolio-item {
  width: 45%;
  height: 350px;
  background-color: #ffffff;
  position: relative;
  margin: 1.5% 0;
  box-shadow: 2px 2px 2px #c0c0c0;
  opacity: 0;
}

.portfolio-item.relias {
  width: 30%;
  height: 291px;
}
.portfolio-item.netapp {
  margin: 0;
}

.portfolio-link {
  width: 100%;
  height: 100%;
}

.container:hover .project-image {
  transition: 0.5s;
  opacity: 0.4;
}

.portfolio-item:hover .project-image:hover {
  opacity: 1.0;
  transition: 0.5s;
}

.portfolio-item:hover .project-label {
  background-color: #081c5d;
  transition: 0.5s;
  color: white;
}

.project-image {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: 0.4s;
}

.project-label {
  background-color: #c7d2d8;
  height: 20%;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
}

.project-title {
  font-size: 1rem;
  font-weight: bold;
}

.skills {
  font-size: 0.75rem;
}

.home-container h3 {
  padding: 1rem 0;
}

.home-container h3 a {
  color: #269af9;
}

/* project grid background images */

#p1-bg {
  background-image: url('../../resources/images/home/project-hover-bg-01.png');
}

#p2-bg {
  background-image: url('../../resources/images/home/project-hover-bg-02.png');
}

#p3-bg {
  background-image: url('../../resources/images/home/project-hover-bg-03.png');
}

#p4-bg {
  background-image: url('../../resources/images/home/project-hover-bg-04.png');
}

#p5-bg {
  background-image: url('../../resources/images/home/project-hover-bg-05.png');
}

#p6-bg {
  background-image: url('../../resources/images/home/project-hover-bg-06.png');
}

#p7-bg {
  background-image: url('../../resources/images/home/project-hover-bg-07.png');
}

#p8-bg {
  background-image: url('../../resources/images/home/project-hover-bg-08.png');
}

#p9-bg {
  background-image: url('../../resources/images/home/project-hover-bg-09.png');
}

#p-instaclustr-bg {
  background-image: url('../../netapp/resources/project-hover-bg-instaclustr-wide.png');
}
#p-spot-bg {
  background-image: url('../../netapp/resources/project-hover-bg-spot-wide.webp');
}
#p-netapp-bg {
  background-image: url('../../netapp/resources/project-hover-bg-netapp-wide.webp');
}
#p-relias-bg {
  background-image: url('../../resources/images/home/project-hover-bg-relias.png');
}
#p-participate-bg {
  background-image: url('../../resources/images/home/project-hover-bg-participate.png');
}
#p-vif-bg {
  background-image: url('../../resources/images/home/project-hover-bg-vif.png');
}
#p-relias-site-bg {
  background-image: url('../../relias/resources/images/project-hover-bg-relias.png');
}
#p-nursemk-bg {
  background-image: url('../../relias/resources/images/project-hover-bg-nursemk.png');
}
#p-wceiblog-bg {
  background-image: url('../../relias/resources/images/project-hover-bg-wceiblog.png');
}

#p1-bg,
#p2-bg,
#p3-bg,
#p4-bg,
#p5-bg,
#p6-bg,
#p7-bg,
#p8-bg,
#p9-bg,
#p-relias-bg,
#p-participate-bg,
#p-vif-bg,
#p-relias-site-bg,
#p-nursemk-bg,
#p-wceiblog-bg,
#p-instaclustr-bg,
#p-spot-bg,
#p-netapp-bg {
  display: block;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 50rem) {
  .portfolio-item {
    width: 45%;
    margin: 1.8% 0;
  }
  .container {
    padding: 1.8% 0;
  }
  .project-image {
    opacity: 1;
  }
}

@media only screen and (max-width: 33.125rem) {
  .portfolio-item {
    width: 92%;
    margin: 2.5% 0;
  }
  #p1-bg {
    background-image: url('../../resources/images/home/project-hover-bg-wide-01.png');
  }
  #p2-bg {
    background-image: url('../../resources/images/home/project-hover-bg-wide-02.png');
  }
  #p3-bg {
    background-image: url('../../resources/images/home/project-hover-bg-wide-03.png');
  }
  #p4-bg {
    background-image: url('../../resources/images/home/project-hover-bg-wide-04.png');
  }
  #p5-bg {
    background-image: url('../../resources/images/home/project-hover-bg-wide-05.png');
  }
  #p6-bg {
    background-image: url('../../resources/images/home/project-hover-bg-wide-06.png');
  }
  #p7-bg {
    background-image: url('../../resources/images/home/project-hover-bg-wide-07.png');
  }
  #p8-bg {
    background-image: url('../../resources/images/home/project-hover-bg-wide-08.png');
  }
  #p9-bg {
    background-image: url('../../resources/images/home/project-hover-bg-wide-09.png');
  }
  #p-instaclustr-bg {
    background-image: url('../../netapp/resources/project-hover-bg-instaclustr-wide.png');
  }
  #p-netapp-bg {
    background-image: url('../../netapp/resources/project-hover-bg-netapp-wide.webp');
  }
  #p-relias-bg {
    background-image: url('../../resources/images/home/project-hover-bg-relias-wide.png');
  }
  #p-participate-bg {
    background-image: url('../../resources/images/home/project-hover-bg-participate-wide.png');
  }
  #p-vif-bg {
    background-image: url('../../resources/images/home/project-hover-bg-vif-wide.png');
  }
  #p-relias-site-bg {
    background-image: url('../../relias/resources/images/project-hover-bg-relias-wide.png');
  }
  #p-nursemk-bg {
    background-image: url('../../relias/resources/images/project-hover-bg-wide-nursemk.png');
  }
  #p-wceiblog-bg {
    background-image: url('../../relias/resources/images/project-hover-bg-wide-wceiblog.png');
  }
}

@media only screen and (min-width: 87.5rem) {
  #p2-bg {
    background-image: url('../../resources/images/home/project-hover-bg-wide-02.png');
  }
  #p3-bg {
    background-image: url('../../resources/images/home/project-hover-bg-wide-03.png');
  }
  #p4-bg {
    background-image: url('../../resources/images/home/project-hover-bg-wide-04.png');
  }
  #p5-bg {
    background-image: url('../../resources/images/home/project-hover-bg-wide-05.png');
  }
  #p6-bg {
    background-image: url('../../resources/images/home/project-hover-bg-wide-06.png');
  }
  #p7-bg {
    background-image: url('../../resources/images/home/project-hover-bg-wide-07.png');
  }
  #p8-bg {
    background-image: url('../../resources/images/home/project-hover-bg-wide-08.png');
  }
  #p9-bg {
    background-image: url('../../resources/images/home/project-hover-bg-wide-09.png');
  }
  #p-relias-bg {
    background-image: url('../../resources/images/home/project-hover-bg-relias-wide.png');
  }
  #p-participate-bg {
    background-image: url('../../resources/images/home/project-hover-bg-participate-wide.png');
  }
  #p-vif-bg {
    background-image: url('../../resources/images/home/project-hover-bg-vif-wide.png');
  }
  #p-relias-site-bg {
    background-image: url('../../relias/resources/images/project-hover-bg-relias-wide.png');
  }
  #p-nursemk-bg {
    background-image: url('../../relias/resources/images/project-hover-bg-wide-nursemk.png');
  }
  #p-wceiblog-bg {
    background-image: url('../../relias/resources/images/project-hover-bg-wide-wceiblog.png');
  }
}

/* project page styles */

.content-container .hero {
  width: 100%;
  margin: 0 auto;
  padding: 1.5rem 0;
}

.hero.half {
  width: 50%;
}

.hero.flow-mobile {
  display: none;
}

.img-row {
  width: 100%;
  display: flex;
  padding-top: 2rem;
}

.img-block img {
  width: 100%;
}

.content-container p, h2 {
  text-align: left;
  padding: 1rem 0;
}

.content-container h3 {
  padding: 1.5rem 0;
  font-weight: bold;
  text-decoration: underline;
  text-align: left;
}

.content-container a {
  color: #269af9;
}

.content-container a:hover {
  text-decoration: underline;
}

.content-container ul, ol {
  padding: 1rem 3rem;
  text-align: left;
  font-size: 1.3rem;
  line-height: 1.25;
  list-style-type: circle;
  list-style-position: outside;
}

.content-container li {
  padding: 0.5rem 0;
}

.indent {
  padding-left: 3rem;
}

.notation {
  margin-bottom: 1rem;
}

.notation p {
  font-size: 1rem;
  text-align: center;
}

.notation a {
  color: #269af9;
}

.notation a:hover {
  text-decoration: underline;
}

button {
  width: 200px;
  height: 50px;
  font-size: 1em;
  margin: 1em 0;
  background-color: #269af9;
  cursor: pointer;
  color: white;
  transition: 0.5s;
}

button a {
  color: white;
}

button:active {
  top: 1px;
}

.badge-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.badge-grid figure {
  width: 25%;
  padding: 1.5rem 0;
  text-align: center;
}

.badge-grid figure img {
  width: 150px;
  height: 150px;
}

.project-cta {
  background-color: #269af9;
  text-align: center;
  padding: 0.5rem 0;
  color: white;
  transition: 0.5s;
}

.project-cta:hover {
  background-color: #6bbcf2;
  transition: 0.5s;
}

.project-cta h2 {
  font-family: "Oxygen", sans-serif;
}

.project-cta a {
  color: white;
}

@media only screen and (max-width: 56.875rem) {
  .img-row {
    flex-direction: column;
  }
  .img-block img {
    padding: 1rem 0;
  }
}
@media only screen and (max-width: 33.125rem) {
  .hero.flow-mobile {
    display: block;
  }
  .hero.flow-desktop {
    display: none;
  }
  .hero.half {
    width: 100%;
  }
  .badge-grid figure {
    width: 33.333%;
    padding: 1.5rem 0;
  }

  .badge-grid figure img {
    width: 100px;
    height: 100px;
  }
}

/* tab styles */

.tab {
  padding-top: 2rem;
  overflow: hidden;
  background-color: #eeeeee;
  display: flex;
  justify-content: space-between;
}

.tab button {
  width: 50%;
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  color: black;
  margin: 0;
}

.tab button:hover {
  background-color: #6bbcf2;
  color: white;
}

.tab button.active {
  background-color: #269af9;
  color: white;
}

.tabcontent {
  display: none;
  padding-top: 2.5rem;
  border-top: 1px solid #003760;
}

/* About page styles */

.dual-container {
  display: flex;
  align-items: flex-start;
  padding-bottom: 3rem;
}

.sidebar {
  width: 200px;
  margin-right: 2rem;
  position: sticky;
  position: -webkit-sticky;
  top: 130px;
}

.sidebar p {
  font-size: 1rem;
  padding: 1.25rem 0 0 0;
}

.about-scroll {
  width: 75%;
}

.sidebar img {
  width: 85%;
  align-self: center;
  padding-top: 1rem;
}

#mobile-pic {
  display: none;
}

.skill-icons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skill-icons figure {
  padding: 1.5rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

figure img {
  width: 70px;
  height: 70px;
}

.skill-icons figcaption {
  font-size: 1rem;
  padding-top: 0.75rem;
}

@media only screen and (max-width: 52.813rem) {
  .dual-container {
    flex-direction: column;
  }
  .sidebar {
    width: 100%;
    position: relative;
    top: 0;
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
  }
  #desktop-pic {
    display: none;
  }
  #mobile-pic {
    display: block;
  }
  .sidebar img {
    width: 125px;
    margin-right: 2rem;
  }
  .sidebar p {
    font-size: 1.3rem;
  }
  .about-scroll {
    width: 100%;
  }
  .skill-icons {
    justify-content: space-between;
  }
  .skill-icons figure {
    padding: 1.5rem;
  }
}
@media only screen and (max-width: 48.563rem) {
  .skill-icons figure {
    padding: 1.5rem 0.5rem;
  }
}
@media only screen and (max-width: 37.5rem) {
  figure img {
    width: 50px;
    height: 50px;
  }
  figcaption {
    display: none;
  }
}
@media only screen and (max-width: 27.375rem) {
  .sidebar {
    flex-direction: column;
  }
  .sidebar img {
    margin: 0;
    text-align: center;
    padding-bottom: 2rem;
  }
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (max-width: 25.938rem) {
  .skill-icons {
    justify-content: space-between;
  }
  figure img {
    width: 40px;
    height: 40px;
  }
}
@media only screen and (max-width: 21.875rem) {
  .skill-icons {
    justify-content: center;
  }
  figure img {
    width: 70px;
    height: 70px;
  }
}

/* Contact page styles */

.form-row {
  display: flex;
  justify-content: space-between;
}

.form-row p {
  width: 45%;
}

form p {
  display: flex;
  flex-direction: column;
}

label {
  padding-bottom: 0.3rem;
}

input {
  font-size: 1rem;
  height: 1.5rem;
  padding: 0.5rem;
  border: 0.25px solid gray;
}

input:focus,
textarea:focus {
  outline: 2px solid #269af9;
}

textarea {
  height: 200px;
  border: 0.25px solid gray;
}

textarea[placeholder] {
  font-size: 1rem;
  padding: 0.5rem;
  line-height: 1.25;
}

button:hover {
  background-color: #6bbcf2;
  transition: 0.5s;
}

#submission {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 33.125rem) {
  input, textarea {
    width: 95%;
  }
  .bio {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

@media only screen and (max-width: 43.75rem) {
  .form-row {
    display: block;
  }
  .form-row p {
    width: 100%;
  }
  #submission {
    display: flex;
    align-items: center;
  }
  #submission button {
    width: 50%;
    height: 70px;
  }
}

@media only screen and (max-width: 20rem) {
  #submission button {
    width: 100%;
  }
}

/* footer styles */

footer {
  height: 15rem;
  background-image: url('../../resources/images/home/footer-texture-01.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.social {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.social ul {
  display: flex;
  justify-content: center;
  padding-top: 5.35rem;
}

.social ul li {
  padding: 0 1.5rem;
}

.social img {
  width: 40px;
  height: 40px;
}

.copyright {
  padding: 1.4rem 0;
  color: white;
  text-align: center;
}

.copyright p {
  font-size: 0.85rem;
}

.copyright .disclaimer {
  color: #f1f1f1;
  font-size: 0.75rem;
  font-style: italic;
  margin: 1rem auto 0 auto;
  max-width: 600px;
}

@media only screen and (max-width: 36.875rem) {
  footer {
    height: 12rem;
  }
  .social ul {
    padding-top: 4rem;
  }
}

@media only screen and (max-width: 25rem) {
  footer .desktop-nav li {
    padding: 2rem 1.5rem;
  }
}

@media only screen and (max-width: 20rem) {
  footer .desktop-nav li {
    padding: 2rem 1rem;
  }
  h1 {
    font-size: 1.75rem;
  }
}

.highlights {
  background-color: white;
  box-shadow: 0px 5px 15px rgba(150, 174, 198, 0.2);
  margin: 24px 0;
}
.highlights h3 {
  font-weight: normal;
  padding: 1.5rem 3rem 0 3rem;
  text-decoration: none;
}
